"""{{ model_name }} CRUD 操作"""
from typing import Optional{% if has_list %}, List{% endif %}
from sqlalchemy.orm import Session

from app.crud.base import CRUDBase
from app.models.{{ model_file }} import {{ model_name }}
from app.schemas.{{ schema_file }} import {{ model_name }}Create, {{ model_name }}Update


class CRUD{{ model_name }}(CRUDBase[{{ model_name }}, {{ model_name }}Create, {{ model_name }}Update]):
    """{{ model_name }} CRUD 操作类"""
    {% for method in custom_methods %}
    def {{ method.name }}(self, db: Session{% for param in method.params %}, {{ param.name }}: {{ param.type }}{% endfor %}) -> {% if method.return_type %}{{ method.return_type }}{% else %}Optional[{{ model_name }}]{% endif %}:
        """{{ method.description }}"""
        # TODO: Implement {{ method.name }}
        {% if method.implementation %}{{ method.implementation }}{% else %}pass{% endif %}
    {% endfor %}
    {% if has_unique_field %}
    def get_by_{{ unique_field }}(self, db: Session, *, {{ unique_field }}: {{ unique_field_type }}) -> Optional[{{ model_name }}]:
        """通过 {{ unique_field }} 获取 {{ model_name }}"""
        return db.query({{ model_name }}).filter({{ model_name }}.{{ unique_field }} == {{ unique_field }}).first()
    {% endif %}

{{ crud_var_name }} = CRUD{{ model_name }}({{ model_name }})
